<configuration>
    <!-- Логирование в консоль-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %highlight(%-5level)[%thread]%yellow(%logger{15})- %msg%n
            </pattern>
        </encoder>
    </appender>
    <!-- Логирование в файл-->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>user.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
</configuration>